{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-4">

        <div class="page-title">
            <h4>Tableau de board</h4>
        </div>

        {# Message Flash de succes #}
        {% for message in app.session.flashBag.get('success-avatar') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-12 mb-4">
                <p>
                    Bienvenu sur la page d'aministration de votre compte.<br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="offset-3 col-6  offset-sm-0 col-sm-12 container-avatar mb-2">
                    <img src="{{ asset(app.user.avatar.path) }}" alt="{{ app.user.avatar.alt }}" class="img-fluid yolo">
                </div>

                <div class="col-12 text-center">

                    {# Bouton pour declancher la fenetre modal #}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-plus"></i> Modifier avatar
                    </button>
                </div>
            </div>

            <div class="col-9">
                <div class="col-12">
                    <strong>Pseudo :</strong>
                    <p>{{ app.user.username }}</p>
                </div>
                <div class="col-12">
                    <strong>E-mail :</strong>
                    <p>{{ app.user.email }}</p>
                </div>
                <div class="col-12">
                    <strong>Inscription :</strong>
                    <p>...</p>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalTitle">Modification de l'avatar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            var modal = $(this);
            $.ajax('{{ path('update_avatar') }}', {
                success: function(data) {
                    modal.find('.modal-body').html(data);
                }
            });
        });

        $(document).on('submit', 'form', function(e){
            e.preventDefault();

            $form = $(e.target);
            modal = $('#exampleModal');
            var $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');

            $submitButton.prop('disabled', true);
            // ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier
            $form.ajaxSubmit({
                type: 'post',
                success: function(data) {

                    if (data === 'L\'avatar a été modifier avec succes.') {
                        modal.modal('toggle');
                        location.reload();
                    } else {
                        modal.find('.modal-body').html(data);
                    }
                },
                error: function(jqXHR, status, error) {
                    $submitButton.html(button.data('label'));
                    $submitButton.prop('disabled', false);
                }
            });


        });

        /* Mise à jour de l'image dans le label */
        $(document).on("change", ":input[type=file]", function () {
            let input = this;

            if (input.files && input.files[0]) {
                var reader = new FileReader();
            }
            reader.onload = function (e) {
                $(input.closest(".image-reader")).find("label img").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        });

    </script>
{% endblock %}