<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# FontAwesome #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {# Bootstrap CSS #}
        <link rel="stylesheet" href="{{ asset('library/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# NavBar #}
        {% include 'layout/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}

        {# Footer #}
        {{ include('layout/footer.html.twig') }}

        {# JQuery #}
        <script src="{{ asset('library/jquery.min.js') }}"></script>
        {# Popper #}
        <script src="{{ asset('library/popper.min.js') }}"></script>
        {# Bootstrap JS #}
        <script src="{{ asset('library/bootstrap/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
