{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'trick'}}) }}



{# Title #}
{{ form_row(form.title) }}

{# Description #}
{{ form_row(form.description) }}

{# Category #}
{{ form_row(form.category) }}

<button type="submit" class="btn-secondary btn mt-2">
    {{ button }}
</button>

{{ form_end(form) }}