{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/show_trick.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>{{ trick.title }}</h1>
        <h3 class="text-center">
            <span class="badge badge-secondary">{{ trick.category.name }}</span>
        </h3>
    </div>
    <div class="container">

        {# Message Flash de succes #}
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row description-container">
            <div class="col-12">
                <h4>Description :</h4>
                <p>{{ trick.description }}</p>
            </div>
        </div>
    </div>

    {% if trick.images|length == 0 %}
    {% else %}
        <section class="container image-container">
            <h4>Images :</h4>
            <div class="row">
                {% for image in trick.images %}
                    <div class="col-4">
                        <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="img-thumbnail">
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% if trick.videos|length == 0 %}
    {% else %}
        <section class="container">
            <h4>Video :</h4>
            <div class="row">
                {% for video in trick.videos %}
                    <div class="col-4 video-container">
                        <div style='height :200px ;width :300px'>
                            {{ video.Iframe()|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}



    {# Commentaire #}
    <section class="container mt-4">
        <div class="row">
            <div class="col-12 form-title">
                <h4>Commentaire</h4>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-12">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-row">
                        <div class="col-12">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <button type="submit" class="btn-secondary btn mt-2">
                                Envoyer
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger">
                        Vous devez être connecté pour écrire un commentaire
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    {# test display comment #}
    <section class="container mt-4">
            {% for comment in trick.comments %}
                <div class="row mb-4">
                    <div class="col-1">
                        <img src="{{ asset(comment.user.avatar.path) }}" alt="{{ comment.user.avatar.alt }}" class="img-fluid">
                    </div>
                    <div class="col-11">
                        <strong>{{ comment.user.username }}</strong>
                        <p>
                            {{ comment.message }}
                        </p>
                    </div>
                </div>
            {% endfor %}
    </section>
{% endblock %}