{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/show_trick.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron text-center custom_jumbotron">
        <h1 class="custom_orange">{{ trick.title }}</h1>
        <h3 class="text-center">
            <span class="badge badge-custom">{{ trick.category.name }}</span>
        </h3>
    </div>
    <div class="container">

        {# Message Flash de succes #}
        {% for message in app.session.flashBag.get('success-update-trick') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('success-comment') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {# Back Home #}
        <div class="row">
            <div class="col-12 push__right">
                <div class="back_home_container">
                    <a href="{{ path('home') }}" class="btn btn_custom">
                        <i class="fas fa-angle-double-left"></i>Retour à la liste des figures
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 bottom__default push__right">
                <h4 class="custom_title">Description :</h4>
                <p>{{ trick.description }}</p>
            </div>
        </div>
    </div>

    {# Carousel_image #}
    <section class="container">
        {% if trick.images|length == 0 %}
            <div class="row">
                <div class="col-12 bottom__default push__right">
                    <h4 class="custom_title">Image :</h4>
                    <p>Il n'y a pas de d'image pour cette figure</p>
                    <div id="carousel_image"></div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 push__right">
            {% if trick.images|length > 1 %}
                <h4 class="custom_title">Images :</h4>
            {% else %}
                <h4 class="custom_title">Image :</h4>
            {% endif %}
                </div>
            </div>
            <div id="carousel_image">
                {% for image in trick.images %}
                    <div class="item">
                        <div class="item__image">
                            <a href="#" data-toggle="modal" data-target="#modal__image--{{ image.id }}">
                                <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="img-thumbnail">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    {# Large modal #}
    {% for image in trick.images %}
        <div class="modal fade bd-example-modal-lg" id="modal__image--{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="rounded img-fluid" style="min-width:100%;">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



    {# Carousel_video #}
    <section class="container">
        {% if trick.videos|length == 0 %}
            <div class="row">
                <div class="col-12 bottom__default push__right">
                    <h4 class="custom_title">Vidéo :</h4>
                    <p>Il n'y a pas de vidéo pour cette figure</p>
                    <div id="carousel_video"></div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 push__right">
                    {% if trick.videos|length > 1 %}
                        <h4 class="custom_title">Vidéos :</h4>
                    {% else %}
                        <h4 class="custom_title">Vidéo :</h4>
                    {% endif %}
                </div>
            </div>
            <div id="carousel_video">
                {% for video in trick.videos %}
                    <div class="item">
                        <div class="item__image embed-responsive embed-responsive-16by9">
                            {{ video.Iframe()|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>



    {# Form Commentaire #}
    <section class="container mt-4">
        <div class="row">
            <div class="col-12 custom_title push__right">
                <h4>Commentaire ({{ trick.NbComments }})</h4>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-12 push__right">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-row">
                        <div class="col-12">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <button type="submit" class="btn btn_custom mt-2">
                                Envoyer
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger">
                        Vous devez être connecté pour écrire un commentaire
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    {# comment #}
    <section class="container mt-1">
        {% for comment in trick.comments %}
            <div class="row mb-1">
                <div class="comment__container shadow-sm p-3 mb-1 bg-white rounded">
                    <div class="comment__avatar">
                        <img src="{{ asset(comment.user.avatar.path) }}" alt="{{ comment.user.avatar.alt }}" class="img-fluid">
                    </div>
                    <div class="comment__message">
                        <strong>{{ comment.user.username }}</strong><i><small> écrit à :{{ comment.createdAt|date('H:i') }}, le {{ comment.createdAt|date('d/m/Y') }}</small></i>
                        <p>
                            {{ comment.message }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    {# Carousel  #}
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}