{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% import 'app/CRUD/macro/custom_form.html.twig' as formMacro %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form_trick.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-4">

        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'trick'}}) }}

        <div class="form-row">
            <div class="col-8">
                <div class="col-md-12 page-header">
                    <h4>Modifier une figure</h4>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-8">
                <div class="col-md-12 form-group">
                    {# Title #}
                    {{ form_row(form.title) }}
                </div>

                <div class="col-md-12 form-group">
                    {# Description #}
                    {{ form_row(form.description) }}
                </div>

                <div class="col-md-12 form-group">
                    {# Category #}
                    {{ form_row(form.category) }}
                </div>
            </div>
        </div>

        <div class="form-row">
            {# Uploaded Image #}
            <div class="col-md-8">
                <div class="col-12 form-row form-group">
                    <span>Images de la figure {{ trick.title }}</span>
                </div>

                <div class="form-row col-md-12">
                    <div class="col-12">
                        <div class="alert alert-success image-delete-message"></div>
                    </div>

                    {% if trick.images|length == 0 %}
                        <div class="alert alert-primary col-12 text-center" role="alert">
                            Il n'y a pour l'instant aucune image pour cette figure.<br/>
                            Utiliser la section ci-dessous pour en rajouter.
                        </div>
                    {% else %}
                        {% for image in trick.images %}
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 image-upload" style="display:flex;">
                                <div class="form-control form-group container-ajax" style="height: auto;">
                                    <img src="{{ asset( image.path ) }}" alt="{{ image.alt }}" class="img-fluid img-preview-upload">
                                    <div class="d-flex justify-content-around">
                                        <a data-url="{{ path('delete_images', {'id_image': image.id, 'id_trick': trick.id}) }}" href=""
                                           title="Supprimer"
                                           class="link-ajax btn btn-primary"
                                        >
                                            Supprimer
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {# videos #}
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-row col-12 wrapper-video"
                     data-prototype="{{ formMacro.customVideoRow(form.videos.vars.prototype)|e('html_attr') }}"
                     data-index="{{ form.videos|length }}"
                >
                    <div class="col-12">
                        <a href="#" class="video-add">
                            <span class="fa fa-plus-circle"></span>
                            Ajouter une video
                        </a>
                    </div>

                    {% for video in form.videos %}
                        {{ formMacro.customVideoRow(video) }}
                    {% endfor %}


                </div>
            </div>
        </div>

        {# Images #}
        <div class="form-row">
            <div class="col-md-8">

                <div class="form-row col-12 wrapper-image"
                     data-prototype="{{ formMacro.customImageRow(form.images.vars.prototype)|e('html_attr') }}"
                     data-index="{{ form.images|length }}"
                >
                    <div class="col-12">
                        <a href="#" class="image-add">
                            <span class="fa fa-plus-circle"></span>
                            Ajouter une image
                        </a>
                    </div>

                    {{ form_errors(form.images) }}

                    {% for image in form.images %}
                        {{ formMacro.customImageRow(image) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-12" style="margin-left:15px;">
                <button type="submit" class="btn-secondary btn mt-2">
                    Modifier
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/form_trick.js') }}"></script>
{% endblock %}